---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const title = "Sci-Fi";
const description = "Takahiro Miyoshi's sci-fi books";

const sciFiBooks = await getEntry("books", "sci-fi");
const sciFiBokksByYear = Map.groupBy(sciFiBooks.data, ({ date }) =>
  date.getFullYear(),
);
---

<Layout title={title} description={description}>
  <h1>Sci-Fi</h1>
  {
    [...sciFiBokksByYear.entries()].map(([year, books]) => (
      <section>
        <h2>{year}</h2>
        <ul>
          {books.map((book) => (
            <li>
              <a href={`https://www.amazon.co.jp/dp/${book.asin}`}>
                {book.author}『{book.title}』
              </a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
  <hr />
  <a href="/">Home</a>
</Layout>
